.grid{
    display: grid;
      grid-template-columns: auto auto auto;
}

.header {
  font-family: "Audiowide", sans-serif;
  grid-column: 1 / 8;
  grid-row: 1;
  background-color: #000000;
  color: #f8f4f4;
  text-align: center;
padding: 5px;
}
.body {
  grid-column: 1 / 8;
  grid-row: 2 / 8;
  background-color: #000000;
  color: #f8f4f4;
  text-align: center;
  padding: 80px;
  font-family: "Audiowide", sans-serif;
}

.container {
  background-color: #000000;
  color: #f8f4f4;
  text-align: center;
  font-size: 12pt;
  font-family: "Audiowide", sans-serif;
 }

 .container1 {  
  display: inline-block;   
  background-color: #000000;
  color: #f8f4f4;
  text-align: center;
  font-size: 12pt;
  font-family: sans-serif;
  border-style: dashed;
  border-color: #ffffff;
 }

 .container2 {
  display: inline-table;
  background-color: #000000;
  color: #f8f4f4;
  text-align: center;
  font-size: 12pt;
  font-family: "Audiowide", sans-serif;
  border-style: dashed;
  border-color: #ffffff;
  width: 435px;
  height: 540px;
 } 

.center {
  grid-column: 1 / 8;
  grid-row: 2 / 8;
  padding: 170px;
  background-color: #000000;
}
 

.footer {
  grid-column: 1 / 8;
  grid-row:  8;
  padding: 20px;
  background-color: #000000;
  color: #f8f4f4;
  text-align: center;
}
B {
    color: rgb(226, 45, 157);
}
h1 {
    color: #ffffff;
  }
 a:hover {
     color: rgb(226, 45, 157);
     border-style: dashed;
    border-color: #ffffff;
    cursor: crosshair;
 }

 img {
  border: 1px solid rgb(218, 77, 164);
}

table, th, td {
  border:2px solid rgb(226, 45, 157);
}
